pipeline/Incremental_Pipeline.json
{
	"name": "Incremental_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get HighWaterMark TimeStamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "High_Water_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Fetch the latest timestamp from Database",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get HighWaterMark TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as RecordDate from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Incremental Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Fetch the latest timestamp from Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from saleslt.customer where ModifiedDate>',activity('Get HighWaterMark TimeStamp').output,' and ModifiedDate<=',activity('Fetch the latest timestamp from Database').output)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-10-31T18:33:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}